# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
*.so

# Environment & Virtualenvs
.env
.env.*
.venv/
env/
venv/
ENV/

# Testing & Quality
.pytest_cache/
.ruff_cache/
.mypy_cache/
.coverage
htmlcov/
tests/

# Git & IDEs
.git/
.gitignore
.gitattributes
.idea/
.vscode/
*.swp
*.swo

# Builds & Metadata
dist/
build/
*.egg-info/
*.egg
